.container-children {
    padding: 0;
}

.img {
    position: relative;
    display: flex;
    height: 100%;
}

.img-avatar {
    border-radius: 10px;
    height: 100%;

    &.fullWidth {
        width: 100%;
    }
}

.img-description {
    position: absolute;
    top: 80px;
    left: 220px;
    width: 295px;
}

.title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.content-img-right {
    padding: 48px 0 96px 0;

    .wrap {
        padding-right: 96px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .img {
        justify-content: flex-end;

        .img-description {
            left: -75px;
            position: absolute;
            width: 295px;
            top: 80px;
        }
    }
}

.title1,
.title2,
.title3 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.2;
}

.content1,
.content2,
.content3 {
    margin-bottom: 28px;
}

.block-btn,
.btn-border {
    margin-top: 48px;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;

    .btn-border {
        margin-left: 24px;
    }
}
