.wrapper {
    background-color: #e9fdf3;
    padding-top: 96px;
}

.header {
    font-size: 4.8rem;
    font-weight: 700;
}

.header-content {
    grid-column: 3 / span 8;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
