.wrapper {
    background-color: var(--brand-stone-light);
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 calc(var(--gutter) / 2);
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 36px;
    height: 36px;
    display: block;
    max-width: 100%;
    height: auto;
    padding: 24px 0;
}
